
body {
  font: 10px sans-serif;
  background-color: #002;
  color: #eee;
}
.map {
  fill: #333;
  stroke: #000;
}
#MapMask {
  fill: #fff;
}

text {
  fill: #FFF;
  stroke: none;
}

.titletext {
  fill: #FFF;
  stroke: none;
  font-size: 25px;
}

.definite_rect {
  fill: green;
  opacity: .5;
  stroke-width: 1.5px;
}
.possible_rect {
  fill: steelblue;
  opacity: .5;
  stroke-width: 1.5px;
}


